body{
    background-color: black
}
span {
    color: red !important;
    background-color: orange !important
}
p {
    color: yellow !important
}
h1 {
    color: greenyellow !important
}
a {
    color: green !important;
    outline: turquoise !important;
}
button {
    outline: 1px solid blue !important;
    color: maroon !important;
    background-color: peru !important

}

nav {
    background-color: orangered !important
}
form {
    outline: 2px solid brown !important;
}
/* icons */
svg[class^="Heart"] {
    stroke: cornflowerblue !important
}
path {
    fill: cornflowerblue !important
}
/* nav bar and wrapper */
div#globalHeaderWrapper {
    background-color: rgb(127, 83, 25) !important
}
nav {
    color: pink !important
}

/* feed */
div.feed-item, 
div.ais-Panel.-stats, 
span[class^="Body-module"],
div.-results-refinement, 
div.feed-and-filters,
div.MySizesToggle,
div.-filters-header-bar,
div.right
{
    background-color: rgb(255, 100, 165) !important
}

/* messages */
div[class*="bot"] {
    background-color: darkslateblue !important
}

/* authentication */
span[class^="Badge"], span[class^="AuthenticationBadge"] {
    background-color: darkslateblue !important
}

/* Klarna */
div[class*="klarna"], span[class*="CondensedSinglePromotionView--Message"]{
    /* background-color: black !important; */
    color: goldenrod !important
}
<span[class^=ul-h] {
    color: hotpink !important
}